In [6]:
my_set = {1,2,3,4,5,11}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 11}
<class 'set'>

In [ ]:
##Basic sets operations

#Adding and remove elements

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [4]:
my_set.remove(1)
print(my_set)

{2, 3, 4, 5}

In [7]:
my_set.discard(11)
print(my_set)

{1, 2, 3, 4, 5}

In [8]:
#pop method

removed = my_set.pop()
print(removed)

1

In [9]:
#Set membership test

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [14]:
## Mathematical 
set1={1,2,3,4,5,6,7}
set2={1,2,3,4,5,6,7,11}

#Union

union = set1.union(set2)
print(union)

#Intersection
inter = set1.intersection(set2)
print(inter)

set1.intersection_update(set2)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 11}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 11}

In [7]:
set3={1,2,3,4,5,6,7}
set4={4,5,6,7,8,9}

#Difference 
print(set3.difference(set4))

{1, 2, 3}

In [8]:
set4.difference(set3)

{8, 9}

In [11]:
##Symmetric difference

set3.symmetric_difference(set4)

{1, 2, 3, 8, 9}

In [17]:
## Set Methods

set1={1,2,3}
set2={4,5,6}

## is subset

print(set1.issubset(set2))

set1.issuperset(set2)

False

False

In [19]:
lst = [1,2,3,4,4,5,6,7]

set(lst)

{1, 2, 3, 4, 5, 6, 7}

In [22]:
### Counting unique words in text

text = "In this example will see about sets"
words=text.split()

##Convert list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'see', 'example', 'will', 'about', 'sets', 'this', 'In'}
7