In [3]:
# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

## Create a tuple with the first 10 positive integers. Print the tuple.

tuple1= tuple(range (1,11))
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
### Assignment 2: Accessing Tuple Elements

# Print the first, middle, and last elements of the tuple created in Assignment 1.

print(tuple1[0])
print(tuple1[len(tuple1) // 2])
print(tuple1[-1])

1
6
10

In [13]:
### Assignment 3: Tuple Slicing

# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tuple1[0:3])
print(tuple1[-3::])
print(tuple1[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [18]:
### Assignment 4: Nested Tuples

# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix = ([1,2,3],[4,5,6],[7,8,9])
for rows in matrix:
    print(rows)


print(matrix[1][2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
6

In [21]:
### Assignment 5: Tuple Concatenation

# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tuples = (1, 2, 3)
lst = (4, 5, 6)
join  = tuples + lst
print(join)

(1, 2, 3, 4, 5, 6)

In [25]:
### Assignment 6: Tuple Methods

# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.


temp = (1,2,3,4,5,1,2,3,4,2,2)
print(temp.count(2))
print(temp.index(4))

4
3

In [26]:
### Assignment 7: Unpacking Tuples

# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

unpack = (1,2,3,4,5)
a,b,c,d,e = unpack
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [30]:
### Assignment 8: Tuple Conversion

# Convert a list of the first 5 positive integers to a tuple. Print the tuple.


lst = list(range(1,6))
print(lst)
tuples = tuple(lst)
print(tuples)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [31]:
### Assignment 9: Tuple of Tuples

# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [32]:
### Assignment 10: Tuple and List

# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

lst = tuple(range(1,6))
print(lst)
check = list(lst)
check.append(6)
temp = tuple(check)
print(temp)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

In [35]:
### Assignment 11: Tuple and String

# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

In [ ]:
### Assignment 12: Nested Tuple Iteration

# Create a nested tuple and iterate over the elements, printing each element.

nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [ ]:
### Assignment 13: Tuple and Set

# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.


tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [ ]:
### Assignment 14: Tuple Functions

# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15